<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="addModal_form" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Add User Details</h4>
            </div>
            <div class="modal-body">
                <div id="err"></div>
                <form id="registerUserform">
                    <div class="form-group">
                        <label for="registerName">User Name</label>
                        <input class="form-control" id="registerName" name="username"
                               placeholder="Enter username."
                               type="text">
                        <span class="error_form" id="register_name_error_message"></span>
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Password:</label>
                        <input class="form-control" id="registerPassword" name="password"
                               placeholder="Enter Password" type="password">
                        <span class="error_form" id="register_password_error_message"></span>
                    </div>
                    <div class="form-group">
                        <label for="registerRetypePassword">Retype Password</label>
                        <input class="form-control" id="registerRetypePassword" name="retypePassword"
                               placeholder="Enter Password Again" type="password">
                        <span class="error_form" id="register_retype_password_error_message"></span>
                    </div>
                    <div class="form-group">
                        <label for="registerRole">select a role:</label>
                        <select id="registerRole" name="role">
                            <option value="USER">User</option>
                            <option value="ADMIN">Admin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="registerEmail">Email Address</label>
                        <input class="form-control" id="registerEmail" name="emailAddress"
                               placeholder="Enter email address."
                               type="text">
                        <span class="error_form" id="register_email_error_message"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="save-btn" id="createUser" type="button">Submit</button>
                        <button class="close-btn" data-dismiss="modal" type="button">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


</div>