<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="addCourseModal">
  <div>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="addModal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Add Course </h4>
          </div>
          <div class="modal-body">
            <div id="err"></div>
            <form id="add_student_form">
              <div class="form-group">
                <label for="form_courseId">Course ID</label>
                <input class="form-control" id="form_courseId" name="courseId"
                       placeholder="Enter Course Id."
                       type="text">
                <span class="error_form" id="courseId_error_message"></span>
              </div>
              <div class="form-group">
                <label for="form_courseName">Course Name:</label>
                <input class="form-control" id="form_courseName" name="name" placeholder="Enter Course Name"
                       type="text">
                <span class="error_form" id="courseName_error_message"></span>
              </div>
              <div class="modal-footer">
                <button class="save-btn" id="add_form_button" type="button">Submit</button>
                <button class="close-btn" data-dismiss="modal" type="button">Close</button>
              </div>
            </form>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
<div th:fragment="editCourseModal">
  <div>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="edit_modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Edit Course Details</h4>
          </div>
          <div class="modal-body">
            <form id="edit_course_form">

              <div class="form-group">
                <label>Course ID</label>
                <input class="form-control" id="edit_id" name="courseID" placeholder="Course Id" readonly
                       type="text">
              </div>
              <div class="form-group">
                <label for="edit_name">Course Name:</label>
                <input class="form-control" id="edit_name" name="name" placeholder="Name" type="text">
                <span class="error_form" id="edit_name_error_message"></span>
              </div>

              <div class="modal-footer">
                <button class="save" id="edit_details_button" type="button">Save</button>
                <button class="close-btn" data-dismiss="modal" type="button">Close</button>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
<div th:fragment="deleteCourseModal">
  <div>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="delete_modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Do you want to delete this record?</h4>
          </div>

          <div class="modal-body">
            <form id="delete_course_form">

              <div class="form-group">
                <label>courseId</label>
                <input class="form-control" id="delete_courseId" name="rollno" placeholder="roll no."
                       readonly type="text">
              </div>
              <div class="form-group">
                <label for="edit_name">Course Name:</label>
                <input class="form-control" id="delete_name" name="name" placeholder=" Name" readonly
                       type="text">
                <div class="modal-footer">
                  <button class="save" id="delete_details_button" type="button">Delete</button>
                  <button class="close-btn" data-dismiss="modal" type="button">Close</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
</body>
</html>