<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Student DashBoard</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="inactive" id="coursesControl"><a th:href="@{/course}">Courses</a></li>
                <li class="inactive" id="usersControl" th:if="${role}==[ADMIN]"><a th:href="@{/users}">Users</a></li>
                <li class="inactive" id="teachersControl"><a th:href="@{/teachers}">Teachers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="dropdown-item" id="editprofile" th:href="@{/users/profile}"><span
                            class="glyphicon glyphicon-user"></span> Edit profile</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/mylogout}"><span class="glyphicon glyphicon-log-out"></span>
                        Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>