<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Student Details </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}" style="align:center">Student DashBoard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="inactive"><a th:href="@{/}">Home</a></li>
      <li id ="coursesControl"  class="inactive"><a th:href="@{/courses}">Courses</a></li>
      <li id ="usersControl" th:if="${role}==[ADMIN]" class="inactive"><a th:href="@{/users}">Users</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li>
        <a  id="editprofile" class=" inactive dropdown-item" th:href="@{/edit/profile}"><span class="glyphicon glyphicon-user"></span> Edit profile</a>
      </li>
      <li class="inactive"><a th:href="@{/mylogout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>




  <div class="container">
    <div><h3>Course Details</h3> </div>
    <div class="form-group">
        <label>Course Id</label>
        <input type="text" class="form-controll" id="rollno" th:value="${course.courseId}" placeholder="rollno" name="rollno" readonly>
    </div>

    <div class="form-group">
      <label> Course Name</label>
      <input type="text" class="form-controll" id="name" th:value="${course.courseName}" placeholder="name" name="name" readonly>
    </div>

    <h5>Current Enrolled Students</h5>
    <table class="table">
      <tr>
        <th>Sr. no.</th>
        <th>Roll no.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
      </tr>
      <tr th:each="student : ${course.studentList}">
        <td th:text="${studentStat.count}"></td>
        <td th:text="${student.rollno}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.phone}"></td>
      </tr>
    </table>
  </div>

</body>
</html>