<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<head>
    <title>Student DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <script type="text/javascript" th:src="@{/assets/js/jqeryAjaxCaller.js}"></script>

</head>
<body>
<nav class="navbar navbar-default">

        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="align:center">Student DashBoard</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
</nav>
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Student Details</h4>

                    </div>
                    <div class="modal-body">
                        <form action="/add" id="form" method="post">
                            <div class="form-group">
                                <label for="name">Student Name:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone number</label>
                                <input type="number" class="form-control" id="phone" placeholder="Enter Phone" name="phone">
                            </div>
                            <div class="modal-footer">
                            <button type="submit" id="addNew" class="save-btn">Submit</button>
                            <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </div>
</div>
</div>
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit this record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="name">Student Name:</label>
                <input type="text" class="form-control" id="name_edit" placeholder="Enter Name" name="name">

                    <label>Id</label>
                    <input type="text" class="form-control" id="id_edit" placeholder="Id" name="id" readonly>


                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address_edit" placeholder="Enter Address" name="address">


                    <label for="phone">Phone number</label>
                    <input type="number" class="form-control" id="phone_edit" placeholder="Enter Phone" name="phone">

                <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                <button type="button"  id="save" class="save">Save</button>
            </div>

            </div>
        </div>
    </div>
</div>



<div class="container" >
    <button type="button" class="btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-home"></i>add student</button>
<div  id="table">


</div>
</div>
<br>





</body>
</html>