<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<html>
<body>
<div th:fragment="myheader">

    <title>Student DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <script type="text/javascript" th:src="@{/assets/js/jqeryAjaxCaller.js}"></script>

</div>
<div th:fragment="mynavbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="align:center">Student DashBoard</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li id ="addUserNav" class="inactive"><a th:href="@{/register}">Add Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  id="editprofile" class="dropdown-item" th:href="@{/edit/profile}"><span class="glyphicon glyphicon-user"></span> Edit profile</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/mylogout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>


</div>


</body>

</html>
